{
  "BOT_TOKEN": "",

  "ADMINS_ID": [
    5536543760
  ],

  "CHAT_ID": {
    "CHAT": int,
    "ADMIN": int
  },

  "roles": {
    "1": {
      "name": "AH-COUNTER",
      "about": "Ah-counter.png",
      "max": 1,
      "points": 3
    },
    "2": {
      "name": "CHAIRPERSON",
      "about": "Chairperson.png",
      "max": 1,
      "points": 4
    },
    "3": {
      "name": "EVALUATOR",
      "about": "Evaluator.png",
      "max": 2,
      "points": 3
    },
    "4": {
      "name": "GRAMMARIAN",
      "about": "Grammarian.png",
      "max": 2,
      "points": 2
    },
    "5": {
      "name": "SPEAKER",
      "about": "Speaker.png",
      "max": 4,
      "points": 3
    },
    "6": {
      "name": "ADDITIONAL SPEAKERS",
      "about": "None",
      "max": 2,
      "points": 3
    },
    "7": {
      "name": "TIMEKEEPER",
      "about": "Timekeeper.png",
      "max": 1,
      "points": 2
    },
    "8": {
      "name": "TOPICS MASTER",
      "about": "Topicsmaster.png",
      "max": 1,
      "points": 5
    },
    "9": {
      "name": "LISTENER",
      "about": "None",
      "max": 5,
      "points": 1
    }
  },

  "last_run": "06.08.2023",

  "time_meeting": "12:00"

}